/Tests/batch/out
/BuildProfile/out
/codeProfile/out
/third-party/tcc/config.h
/third-party/tcc/config.texi
/third-party/tcc/win32/*.exe
/third-party/tcc/win32/*.dll
/third-party/tcc/win32/*.o
/third-party/tcc/win32/*.obj
/third-party/tcc/win32/*.def
/third-party/tcc/win32/*.pdb
/third-party/tcc/win32/*.lib
/third-party/tcc/win32/*.exp
/third-party/tcc/win32/*.ilk
/third-party/tcc/win32/doc/
/third-party/tcc/win32/lib/*.a
/third-party/tcc/win32/lib/*.o
/third-party/tcc/win32/libtcc/
/BuildProfile/clang-build/
/build/scripts/windows/cpc.exe
/BuildProfile/out/asm-compare-*.csv
